body {
	margin: 0;
}

:not(:defined) {
	visibility: hidden;
}

li {
	list-style: '-';
}

.information {
	font-size: var(--mdui-typescale-body-medium-size);
	font-weight: var(--mdui-typescale-body-medium-weight);
	line-height: var(--mdui-typescale-body-medium-line-height);
	letter-spacing: var(--mdui-typescale-body-medium-tracking);
}

.mdui-table > table {
	min-width: 600px;
}

.deep {
	border-left: 0.0625rem solid rgb(var(--mdui-color-surface-variant));
	padding: 1rem 0 1rem 1.5rem;
	margin: 2rem 0.25rem 0 0;
}
